<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.ridhoperdana.asumu">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo_bukahobi"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_bukahobi"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="net.ridhoperdana.asumu.halaman_home.HomeActivity"/>
        <activity
            android:name="net.ridhoperdana.asumu.halaman_login.LoginSplashScreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/FullscreenTheme">

        </activity>
        <activity android:name="net.ridhoperdana.asumu.halaman_login.LoginActivity" />
        <activity
            android:name="net.ridhoperdana.asumu.SearchActivity"
            android:label="Cari Komunitas" />
        <activity
            android:name="net.ridhoperdana.asumu.MessageActivity"
            android:label="Daftar Pesan" />
        <activity android:name="net.ridhoperdana.asumu.BaseActivity" />
        <activity
            android:name="net.ridhoperdana.asumu.ProfilActivity"
            android:label="Profil Pengguna" />
    </application>

</manifest>